
body, h1, h2, h3, h4, h5, input, select, table, textarea {
    font-family: "Noto Sans KR", sans-serif;
    line-height: 1.375;
    letter-spacing: -0.04em;
}

.container {
  min-width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
caption {
  display: none;
}

.table {
  border: 1px solid #E9EBEE;
  border-collapse: collapse;
  border-spacing: 0px;
  text-align: center;
  margin-bottom: 8px;
}
.table thead th {
  color: #4b4d4f;
}

.table thead .blue {
  background-color: #4852E3;
  color:white;
}

.table tbody tr th, td,
.table thead tr th {
  border: 1px solid #cbcbcb;
}

.table tbody th {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 700;
  font-size: 1.3rem;
  background-color: #EAFAFF;
  color: #141960;
  height: 26.5px;
  vertical-align: middle;
}

.table tbody td {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 700;
  font-size: 1.3rem;
  color: #4b4d4f;
  height: 30px;
  vertical-align: middle;
}
.table tbody .ms {
  background-color: #FFFFFF;
  color: #1A202C;
}

.table tbody td:not(button, input) {
  line-height: 18px;
}
.ref{
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
  color: #4b4d4f;
  margin-left: -100px;
}